<!-- <div class="container"> -->

<!-- <div class="row"> -->
<!-- <app-currency-list></app-currency-list> -->
<!-- </div> -->

<!--
  <div class="col-md-12 collapse in" id="map" style="opacity: 0.8;filter: alpha(opacity=80);">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.219248296016!2d21.42829931521855!3d41.995569979213144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xdbaddbf99023fcb5!2sIntercoop+-+Currency+Exchange+Office!5e0!3m2!1sen!2sus!4v1465155940175"
      width="100%" height="250" frameborder="0" style="border:0" allowfullscreen="no"></iframe>
  </div>
  <div class="text-center">
    <a href="#map" class="btn btn-success btn-xs" data-toggle="collapse" role="button"><b>toggle map</b></a>
  </div>

  -->
<!-- <div class="mailing-list"></div>
</div> -->


<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h3>Intercoop Currencies</h3>
                    <app-currency-list></app-currency-list>
                </div>
            </div>
        </div>
        <!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>You can also get the source code</h1>
                    <p class="lead">Continue developing based on this source code<br>or start a new idea</p>
                </div>
            </div>
        </div>
        <!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <p class="lead">Mobile apps, future<br>Hire me for your ideas</p>
                </div>
            </div>
        </div>
        <!--/.item-->
    </div>
    <!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
</section>

<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="center">
                        <!-- <i class="icon-apple icon-md icon-color3"></i> -->
                        <img style="width: 60px" src="../../assets/img/logo2.png">
                        <h4>Intercoop - currency exchange service</h4>
                        <p>Since 1994, we are providing currency services with best currency rates.</p>
                        <p></p>
                    </div>
                </div>
                <!--/.col-md-4-->

            </div>
            <!--/.row-->
        </div>
        <!--/.box-->
    </div>
    <!--/.container-->
</section>

<section id="portfolio">
    <div class="container">
        <div class="box">
            <div class="center gap">
                <h2>Services</h2>
                <p class="lead">We exchange the following currencies:</p>
                EUR AUD CAD DKK JPY NOK SEK CHF<br>GBP USD RSD HRK BGN ALL TRY MKD<br>
            </div>
            <!--/.center-->
            <div class="row">

                <ul class="portfolio-items col-2">
                    <li class="portfolio-item apps">
                        <div class="item-inner">
                            <!-- <div class="portfolio-image">
                                <h3>Calculator VII</h3>
                                <img src="images/portfolio/thumb/item1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-info" title="Calculator VII" href="https://www.google.com/maps/dir//%27%27/data=!4m5!4m4!1m0!1m2!1m1!1s0x135415b48a672011:0xdbaddbf99023fcb5"><i class="icon-eye-open"></i></a>
                                </div>
                            </div> -->
                            <a id="call" href="tel:+389023239522" class="btn btn-success btn-sm"><span class="fa fa-phone"></span>&nbsp;&nbsp;Call Us</a>
                        </div>
                    </li>
                    <!--/.portfolio-item-->
                    <li class="portfolio-item joomla bootstrap">
                        <div class="item-inner">
                            <!-- <div class="portfolio-image">
                                <h3>Light-calc</h3>
                                <img src="images/portfolio/thumb/item2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-info" title="Light-Calc" href="images/portfolio/full/item2.png"><i class="icon-eye-open"></i></a>
                                </div>
                            </div> -->

                            <a id="directions" href="https://www.google.com/maps/dir//%27%27/data=!4m5!4m4!1m0!1m2!1m1!1s0x135415b48a672011:0xdbaddbf99023fcb5" class="btn btn-success btn-sm"><span class="fa fa-map-marker"></span>&nbsp;&nbsp;Get Directions</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--/.box-->
    </div>
    <!--/.container-->
</section>
<!--/#portfolio-->


<section id="about-us">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>About Us</h2>
                <p class="lead">Intercoop is established in 1994</p>
                <h4>Since then we are making our customers suttisfied<br></h4>
            </div>
            <div class="gap"></div>
            <div id="team-scroller" class="carousel scale">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="member">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.carousel-->
        </div>
        <!--/.box-->
    </div>
    <!--/.container-->
</section>
<!--/#about-us-->

<section id="contact">
    <div class="container">
        <div class="box last">
            <div class="row">
                <div class="col-sm-5">
                    <h1>&nbsp;&nbsp;Contact Form</h1>
                    <div class="col-sm-6">
                        <div class="status alert alert-success" style="display: none"></div>
                        <fieldset id="contact_form" class="contact-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div id="result"></div>
                                    <form action="mailer.php" method="post" id="ajax-contact">
                                        <div width="100%" class="padding-left">

                                            <div class="form-group">
                                                <label for="name">Your name:</label>
                                                <input maxlength="29" autocomplete="off" name="name" type="text" class="btn-wide form-control" id="name" size="" title="overall type: NAME_FULL
    server type: NO_SERVER_DATA
    heuristic type: NAME_FULL
    label: Your name: Message:
    parseable name: name
    field signature: 3489289364
    form signature: 7698844189148110595" autofill-prediction="NAME_FULL">

                                            </div>
                                            <div class="form-group">
                                                <label for="email">Your email:</label>
                                                <input maxlength="50" autocomplete="off" name="email" type="email" class="btn-wide form-control" id="email" size="" title="overall type: EMAIL_ADDRESS
    server type: EMAIL_ADDRESS
    heuristic type: EMAIL_ADDRESS
    label: Your email:
    parseable name: email
    field signature: 1029417091
    form signature: 7698844189148110595" autofill-prediction="EMAIL_ADDRESS">
                                                <!-- <br>
                       <span class="font-contact">Предмет:</span><br />
                      <input name="subject" type="text" class="btn-wide" id="subject" size="" required/>-->
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Message:</label>
                                                <textarea maxlength="500" autocomplete="off" name="message" class="btn-wide form-control" cols="" rows="5" id="message" title="overall type: UNKNOWN_TYPE
    server type: NO_SERVER_DATA
    heuristic type: UNKNOWN_TYPE
    label: Message:
    parseable name: message
    field signature: 4239419590
    form signature: 7698844189148110595" autofill-prediction="UNKNOWN_TYPE"></textarea>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <button type="submit" class="btn btn-info" id="send" onclick="MM_validate('name','','R','email','','RisEmail','message','','R');return document.MM_returnValue"><span class="glyphicon glyphicon-send"></span>&nbsp;SEND</button></div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="msgsent"></div>
                        </fieldset>
                    </div>
                </div>
                <!--/.col-sm-5-->
                <div class="col-sm-4">
                    <h1>Location</h1>
            
                        <!-- <img class="img-thumbnail" src="images/qr.png" alt="Scan this with your qr reader"> -->
                        ADDRESS:<br> Nikola Vapcarov 5/2-1, Skopje 1000, Macedonia<br><br>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.219248296016!2d21.42829931521855!3d41.995569979213144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xdbaddbf99023fcb5!2sIntercoop+-+Currency+Exchange+Office!5e0!3m2!1sen!2sus!4v1465155940175"
                            width="90%" height="250" frameborder="0" style="border:0" allowfullscreen="no"></iframe><br><br>
                        <a href="https://www.google.com/maps/dir//%27%27/data=!4m5!4m4!1m0!1m2!1m1!1s0x135415b48a672011:0xdbaddbf99023fcb5"> Get Directions</a>
                
                </div>
                <div class="col-sm-3">
                    <h1>Find Us</h1>
               


                        <p class="social">

                            <a href="https://www.facebook.com/IntercoopExchangeOffice/" title="" class="facebook"><i class="fa fa-facebook"></i></a>
                          
                            <a href="https://plus.google.com/116118647434016492795/" title="" class="gplus"><i class="fa fa-google-plus"></i></a>
                            
                        </p>

                        CONTACT <br> <a href="tel:00389023239522">02 323 9522</a><br> <br> BUSINESS HOURS <br> Mon 9:00 AM – 8:00 PM <br> Tue 9:00 AM – 8:00 PM
                        <br> Wed 9:00 AM – 8:00 PM <br> Thu 9:00 AM – 8:00 PM <br> Fri 9:00 AM – 8:00 PM <br> Sat 9:00 AM
                        – 3:30 PM <br> Sun Closed <br>


                

                </div>
                <!--/.col-sm-6-->
            </div>
            <!--/.row-->
        </div>
        <!--/.box-->
    </div>
    <!--/.container-->
</section>