<!-- <p class="social">
    <a href="https://www.facebook.com/IntercoopExchangeOffice/" title="" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://plus.google.com/116118647434016492795/" title="" class="gplus"><i class="fa fa-google-plus"></i></a>
  </p> -->

<header id="header" role="banner">
  <div class="container">
    <div id="navbar" class="navbar navbar-default">
      <div class="navbar-header">
        <button id="toggleNav" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-chevron-down blue"></span>
        </button>
        <a class="navbar-brand" (click)="this.dataService.reloadPage('external')">
          <div class="logo-text">
            <span>Intercoop</span>
            <br>Exchange
            <br>Office
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a (click)="this.closeToggle()" href="#main-slider">
              <i class="fa fa-home" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a (click)="this.closeToggle()" href="#portfolio">{{"nav1" | translate}}</a>
          </li>
          <li>
            <a (click)="this.closeToggle()" href="#about-us">{{"nav2" | translate}}</a>
          </li>
          <li>
            <a (click)="this.closeToggle()" href="#contact">{{"nav3" | translate}}</a>
          </li>
          <li>
            <a id="empty">&nbsp;</a>
          </li>
          <li>
            <a href="https://www.facebook.com/IntercoopExchangeOffice/" title="facebook page" class="facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/116118647434016492795/" title="google plus" class="gplus">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <!-- <li><a id="empty">&nbsp;</a></li> -->
          <li>
            <a (click)="this.closeToggle()" *ngIf="this.lngBool" href="javascript:;" (click)="switchLanguage('mk')" title="change to Macedonian">
              <img style="width: 34px; vertical-align:bottom" src="assets/img/mk.png">
              <!-- language changer part-->
            </a>
            <a (click)="this.closeToggle()" *ngIf="!this.lngBool" href="javascript:;" (click)="switchLanguage('en')" title="change to English">
              <img style="width: 34px; vertical-align:bottom" src="assets/img/en.png">
              <!-- language changer part-->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!--/#header-->