<!-- <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>©2017 intercoop</p>
            </div>
            <div class="col-md-6">
              <p class="credit">email: intercoop.delovski@hotmail.com
                <br>tel: +38923239522 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;</p>
            </div>
          </div>
        </div>
      </div> -->

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-7 col-xs-10">
        &copy; {{this.newDate}}
        <a target="_blank" href="http://intercoop.delovski.net/" title="intercoop exchange office">intercoop.delovski.net</a>, All Rights Reserved. </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
        <a href="http://delovski.net"><img class="pull-right" src="assets/img/designedBy.png" title="visit designer website"></a>
      </div>
    </div>
  </div>
</footer>
<br>
<br>