
.showB {
  margin: 200px 0 0 0;
  display: block!important;
  .modal-dialog{
    width: 300px;
    margin: 0 auto;
  }
  .modal-footer {
    padding: 10px;
  }

  @media all and (orientation:landscape) {
    margin: 110px 0 0 0;
  }
}

.showB.infoPopUp {
  .informDialog {
    display: none!important;
  }
  .hide {
    display: block!important;
  }
}

//modal calculator
.calculator {
  .modal-header{
    color: white!important;
    background-color: rgb(42, 201, 103)!important;
  }
  .modal-body {
    height: 150px;
    padding-top: 3px!important;
  }
  .hide {
    display: none;
  }

  .informDialog {
    display: block!important;  
  }
  button.informDialog.btn-primary {
    float:right;
  }

  #amount, #currencyFrom, #currencyTo {
    margin: 4px 0 4px 0;
  }
  #updateCalculator {
    margin-bottom: 4px;
  }
}

.modal-header {
  background-color: #d73b3b;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .close {
    margin-top: -3px;
    font-size: 27px;
  }
}
.modal-body {
  p {
    color: black;
  }
}