
.showB {
  margin: 200px 0 0 0;
  display: block!important;

  .modal-dialog {
    width: 300px;
    margin: 0 auto;
    opacity: 0.96;
    @media screen and (min-height: 500px) and (orientation : landscape) {
      margin: 90px auto 0 auto;
    }
    @media screen and (min-height: 320px) and (max-height: 350px) and (orientation : landscape) {
      margin: -24px auto 0 auto;
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
    }
    @media screen and (min-width: 0px) and (max-width: 320px) and (orientation : portrait) {
      // margin: -24px auto 0 auto;
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
    }
  }
  .modal-footer {
    padding: 10px;
  }

  @media all and (orientation:landscape) {
    margin: 110px 0 0 0;
  }
}

.showB.infoPopUp {
  .informDialog {
    display: none!important;
  }
  .hide {
    display: block!important;
  }
}

//modal calculator
.calculator {
  .modal-header{
    color: white!important;
    background-color: rgb(42, 201, 103)!important;
  }
  .modal-body {
    height: 150px;
    padding-top: 3px!important;
  }
  .hide {
    display: none;
  }

  .informDialog {
    display: block!important;  
    .result {
      color: black;
    }
  }
  button.informDialog.btn-primary {
    float:right;
  }

  #amount, #currencyFrom, #currencyTo {
    margin: 4px 0 4px 0;
    font-weight: bold;
  }

  #updateCalculator {
    margin-bottom: 4px;
    font-weight: bold;
  }
}

.modal-header {
  background-color: #d73b3b;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  .close {
    margin-top: -3px;
    font-size: 27px;
  }
}
.modal-body p {
    color: black;
}