<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="main"> -->

    <div id="myModal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="this.closeModal()">&times;</button>
              <h5 class="modal-title"><b>{{"alert_header" | translate}}</b></h5>
            </div>
            <div class="modal-body">
              <p>{{"modal_body" | translate }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-sm" (click)="this.reload()">{{"ok" | translate}}</button>
            </div>
          </div>
      
        </div>
      </div>

    <app-header></app-header>

    <app-content></app-content>

    <app-footer></app-footer>
<!-- </div> -->