<div id="updateLayer" class="animated fadeIn back">

  <div class="currencyPrint" *ngIf="this.same; else noCurrency" style="margin-left: 133px">
    <div class="animated fadeInDown">
      <h3 class="title padding">
        <div class="col-md-12">
          <b>
            <span class="titleFirm">{{"intercoop" | translate}} </span>{{"currency_title" | translate}}</b>
        </div>
      </h3>
      <div class="clearfix"></div>
      <h5 class="title animated flash">
        <b class="date">&nbsp;{{this.dataService.data?.datum}}&nbsp;</b>
      </h5>
    </div>

    <div class="animated fadeIn">
      <table *ngIf="this.dataService.data" class="table table-responsive table-hover table-currency">
        <thead>
          <tr class="tableTitle">
            <th>{{"currency" | translate}}</th>
            <th></th>
            <th>{{"buy" | translate}}</th>
            <th class="noPrint"></th>
            <th>{{"sell" | translate}}</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of this.dataService.data.values">
              <th *ngIf="item.checked == true" scope="row">{{item.currency}}</th>
              <th *ngIf="item.checked == true">1</th>
              <td *ngIf="item.checked == true">{{item.buy.toFixed(4)}}</td>
              <td *ngIf="item.checked == true" class="noPrint">
                <div class="{{item.flag}}"></div>
              </td>
              <td *ngIf="item.checked == true">{{item.sell.toFixed(4)}}</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="ticker-wrap" style="margin-left: -133px;">
      <div class="ticker">
        <div class="ticker__item noPrint">{{"above_500" | translate}}</div>
      </div>
    </div>
  </div>

  <ng-template #noCurrency>
    <div class="no-currency">
      <h4 *ngIf="!this.isSunday" class="title animated flash">{{"no_currency1" | translate}}</h4>
      <h4 *ngIf="this.isSunday" class="title animated flash">{{"no_currencySunday1" | translate}}</h4>
      <br>
      <div *ngIf="!this.isSunday">
        <br>
        <button (click)="this.dataService.reloadPage('local')" type="button" class="btn btn-default btn-sm">
          <span class="fa fa-refresh"></span>
        </button>
      </div>
      <h4 *ngIf="this.isSunday" class="title animated flash">{{"no_currencySunday2" | translate}}</h4>
    </div>
  </ng-template>

</div>