<div class="animated fadeIn back">

  <div class="currencyPrint">
    <div class="animated fadeInDown">
      <h3 class="title padding">
        <b>{{"currency_title" | translate}}</b>
      </h3>
      <h5 class="title animated flash">
        <b class=""><input maxlength="10" placeholder="00.00.2017" type="text" name="date" class="form-control input-sm date-field" /></b>
      </h5>
    </div>

    <div class="animated fadeIn" style="height: 464.6px">
      <table class="table table-responsive table-hover table-currency">
        <thead>
          <tr class="tableTitle">
            <th>{{"currency" | translate}}</th>
            <th>{{"buy" | translate}}</th>
            <th class="noPrint"></th>
            <th>{{"sell" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <!-- <form> -->
            <tr>
              <th scope="row">curency</th>
              <td>
                <input type="text" name="name" class="form-control input-sm" />
                </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input type="text" name="designation" class="form-control input-sm" />
                </td>
            </tr>

            <tr>
              <th scope="row">curency</th>
              <td>
                <input type="text" name="name" class="form-control input-sm" />
                </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input type="text" name="designation" class="form-control input-sm" />
                </td>
            </tr>

            <tr>
              <th scope="row">curency</th>
              <td>
                <input type="text" name="name" class="form-control input-sm" />
                </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input type="text" name="designation" class="form-control input-sm" />
                </td>
            </tr>

            <tr>
              <th scope="row">curency</th>
              <td>
                <input type="text" name="name" class="form-control input-sm" />
                </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input type="text" name="designation" class="form-control input-sm" />
                </td>
            </tr>

            <tr>
              <th scope="row">curency</th>
              <td>
                <input type="text" name="name" class="form-control input-sm" />
                </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input type="text" name="designation" class="form-control input-sm" />
                </td>
            </tr>

            <tr>
              <th scope="row">curency</th>
              <td>
                <input type="text" name="name" class="form-control input-sm" />
                </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input type="text" name="designation" class="form-control input-sm" />
                </td>
            </tr>

          <!-- </form> -->

        </tbody>
      </table>

    </div>
  </div>

</div>