<div class="animated fadeIn back">

  <div class="currencyPrint">
    <div class="animated fadeInDown">
      <h3 class="title padding">
        <b>{{"currency_title" | translate}}</b>
      </h3>
      <h5 class="title animated flash">
        <b class="">
          <input maxlength="10" readonly [value]="this.newDate" type="text" name="date" class="form-control input-sm date-field" />
        </b>
      </h5>
    </div>

    <div class="animated fadeIn" style="height: 564.6px">
      <form (submit)="sendCurrency(messageCurrency)" id="ajax-update">
        <table class="table table-responsive table-hover table-currency">
          <thead>
            <tr class="tableTitle">
              <th>{{"currency" | translate}}</th>
              <th>{{"buy" | translate}}</th>
              <th class="noPrint"></th>
              <th>{{"sell" | translate}}</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <th scope="row">EUR</th>
              <td>
                <input #eurBuy=ngModel required eurBuy autocomplete="off" autofocus maxlength="5" [value]="data?.values[0]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.eurBuy" type="text" id="eurBuy" name="eurBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #eurSell=ngModel required eurSell autocomplete="off" maxlength="5" [value]="data?.values[0]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.eurSell" type="text" id="eurSell" name="eurSell" class="form-control input-sm"
                />
              </td>
            </tr>

            <tr>
              <th scope="row">AUD</th>
              <td>
                <input #audBuy=ngModel required audBuy autocomplete="off" maxlength="5" [value]="data?.values[1]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.audBuy" type="text" id="audBuy" name="audBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #audSell=ngModel required audSell autocomplete="off" maxlength="5" [value]="data?.values[1]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.audSell" type="text" id="audSell" name="audSell" class="form-control input-sm"
                />
              </td>
            </tr>

            <tr>
              <th scope="row">CAD</th>
              <td>
                <input #cadBuy=ngModel required cadBuy autocomplete="off" maxlength="5" [value]="data?.values[2]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.cadBuy" type="text" id="cadBuy" name="cadBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #cadSell=ngModel required cadSell autocomplete="off" maxlength="5" [value]="data?.values[2]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.cadSell" type="text" id="cadSell" name="cadSell" class="form-control input-sm"
                />
              </td>
            </tr>

            <tr>
              <th scope="row">DKK</th>
              <td>
                <input #dkkBuy=ngModel required dkkBuy autocomplete="off" maxlength="5" [value]="data?.values[3]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.dkkBuy" type="text" id="dkkBuy" name="dkkBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #dkkSell=ngModel required dkkSell autocomplete="off" maxlength="5" [value]="data?.values[3]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.dkkSell" type="text" id="dkkSell" name="dkkSell" class="form-control input-sm"
                />
              </td>
            </tr>

            <tr>
              <th scope="row">JPY</th>
              <td>
                <input #jpyBuy=ngModel required jpyBuy autocomplete="off" maxlength="5" [value]="data?.values[4]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.jpyBuy" type="text" id="jpyBuy" name="jpyBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #jpySell=ngModel required jpySell autocomplete="off" maxlength="5" [value]="data?.values[4]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.jpySell" type="text" id="jpySell" name="jpySell" class="form-control input-sm"
                />
              </td>
            </tr>

            <tr>
              <th scope="row">NOK</th>
              <td>
                <input #nokBuy=ngModel required nokBuy autocomplete="off" maxlength="5" [value]="data?.values[5]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.nokBuy" type="text" id="nokBuy" name="nokBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #nokSell=ngModel required nokSell autocomplete="off" maxlength="5" [value]="data?.values[5]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.nokSell" type="text" id="nokSell" name="nokSell" class="form-control input-sm"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">SEK</th>
              <td>
                <input #sekBuy=ngModel required sekBuy autocomplete="off" maxlength="5" [value]="data?.values[6]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.sekBuy" type="text" id="sekBuy" name="sekBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #sekSell=ngModel required sekSell autocomplete="off" maxlength="5" [value]="data?.values[6]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.sekSell" type="text" id="sekkSell" name="sekSell" class="form-control input-sm"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">CHF</th>
              <td>
                <input #chfBuy=ngModel required chfBuy autocomplete="off" maxlength="5" [value]="data?.values[7]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.chfBuy" type="text" id="chfBuy" name="chfBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #chfSell=ngModel required chfSell autocomplete="off" maxlength="5" [value]="data?.values[7]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.chfSell" type="text" id="chfSell" name="chfSell" class="form-control input-sm"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">GBP</th>
              <td>
                <input #gbpBuy=ngModel required gbpBuy autocomplete="off" maxlength="5" [value]="data?.values[8]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.gbpBuy" type="text" id="gbpBuy" name="gbpBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #gbpSell=ngModel required gbpSell autocomplete="off" maxlength="5" [value]="data?.values[8]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.gbpSell" type="text" id="gbpSell" name="gbpSell" class="form-control input-sm"
                />
              </td>
            </tr>

            <tr>
              <th scope="row">USD</th>
              <td>
                <input #usdBuy=ngModel required usdBuy autocomplete="off" maxlength="5" [value]="data?.values[9]['buy'].toFixed(2)"
                  [(ngModel)]="messageCurrency.usdBuy" type="text" id="usdBuy" name="usdBuy" class="form-control input-sm"
                />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <input #usdSell=ngModel required usdSell autocomplete="off" maxlength="5" [value]="data?.values[9]['sell'].toFixed(2)"
                  [(ngModel)]="messageCurrency.usdSell" type="text" id="usdSell" name="usdSell" class="form-control input-sm"
                />
              </td>
            </tr>

            <tr>
              <th scope="row">
                <div (click)="this.clearFields()" class="btn btn-danger" id="clearFields">
                  <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;clear
                </div>
              </th>
              <td>
                <input required passwordInput placeholder="enter password" (input)="this.isPasswordTrue()" [(ngModel)]="passwordInput" type="password"
                  maxlength="7" id="passwordInput" name="passwordInput" class="form-control input-sm" />
              </td>
              <td class="noPrint">
                <div class="">&nbsp;</div>
              </td>
              <td>
                <button [disabled]="this.updateCurrency==false" type="submit" class="btn btn-default btn-block" id="update">
                  <span class="glyphicon glyphicon-send"></span>&nbsp;{{"send" | translate}}
                </button>
              </td>
            </tr>

          </tbody>

        </table>

      </form>
    </div>
  </div>

</div>