<table class="table table-hover">
  <thead>
    <tr>
      <th>Currency</th>
      <th style="text-align:center">Buy</th>
      <th style="text-align:center">Flag</th>
      <th style="text-align:center">Sell</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Eur</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Usd</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


<div class="holder">

</div>