<div id="updateLayer" class="animated fadeIn back">

  <div class="currencyPrint" *ngIf="this.same; else noCurrency">
    <div class="animated fadeInDown">
      <h3 class="title padding">
        <div class="col-md-12">
          <b>
            <span class="titleFirm">{{"intercoop" | translate}} </span>{{"currency_title" | translate}}</b>
        </div>

        <div class="pull-right printer">
          <i (click)="this.calculator()" class="fa fa-calculator" aria-hidden="true"></i>&nbsp;
          <i (click)="this.print()" id="printBtn" class="fa fa-print" aria-hidden="true"></i>&nbsp;
        </div>
      </h3>
      <div class="clearfix"></div>
      <h5 class="title animated flash">
        <b class="date">&nbsp;{{this.dataService.data?.datum}}&nbsp;</b>
      </h5>
    </div>

    <div class="animated fadeIn" style="height: 464.6px">
      <table *ngIf="this.dataService.data" class="table table-responsive table-hover table-currency">
        <thead>
          <tr class="tableTitle">
            <th>{{"currency" | translate}}</th>
            <th></th>
            <th>{{"buy" | translate}}</th>
            <th class="noPrint"></th>
            <th>{{"sell" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.dataService.data.values;">
            <th *ngIf="item.checked == 'true'" scope="row">{{item.currency}}</th>
            <th *ngIf="item.checked == 'true'">1</th>
            <td *ngIf="item.checked == 'true'">{{item.buy.toFixed(4)}}</td>
            <td *ngIf="item.checked == 'true'" class="noPrint">
              <div class="{{item.flag}}"></div>
            </td>
            <td *ngIf="item.checked == 'true'">{{item.sell.toFixed(4)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker__item noPrint">{{"above_500" | translate}}</div>
      </div>
    </div>
  </div>

  <ng-template #noCurrency>
    <div class="no-currency">
      <h4 *ngIf="!this.isSunday" class="title animated flash">{{"no_currency1" | translate}}</h4>
      <h4 *ngIf="this.isSunday" class="title animated flash">{{"no_currencySunday1" | translate}}</h4>
      <br>
      <h4 *ngIf="!this.isSunday" class="title animated flash">{{"no_currency2" | translate}}.</h4>
      <div *ngIf="!this.isSunday">
        <br>
        <button (click)="reloadPage()" type="button" class="btn btn-default btn-sm">
          <span class="fa fa-refresh"></span>
        </button>
      </div>

      <h4 *ngIf="this.isSunday" class="title animated flash">{{"no_currencySunday2" | translate}}</h4>
    </div>
  </ng-template>

</div>